<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Public/Css/public.css">
    <link rel="stylesheet" type="text/css" href="/Public/Css/about.css">
    <title>天外天工作室-关于我们</title>
</head>
<body>

<div class="nav">
    <!-- top start -->
    <header class="am-topbar admin-header">
        <include file="./twt/Home/View/Public/header.html"/>
    </header>
    <!-- top end -->
</div>

<div class="content">
    <img src="/Public/Images/Frontend/about.png" class="about">
    <img src="/Public/Images/Frontend/about1.png" class="about1">
    <img src="/Public/Images/Frontend/about2.png" class="about2">
    <img src="/Public/Images/Frontend/about3.png" class="about3">

    <div class="text1">
        <p> {$first_col}

</p>
    </div>
    <div class="text2">
        <p>{$sec_col}
        </p>
    </div>
    <div class="text3">
        <p>
           {$third_col}
        </p>
    </div>
</div>

<!-- footer start -->
    <include file="./twt/Home/View/Public/footer.html"/>
<!-- footer end -->

</body>
</html>