<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/coder/Public/Css/public.css">
    <link rel="stylesheet" type="text/css" href="/coder/Public/Css/project.css">
    <title>天外天工作室-项目成果</title>
    <script type="text/javascript" src="/coder/Public/Js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.left_nav').click(function () {
                //点击的导航栏编号
                var no = parseInt($(this).attr('id').substr(3));
                //添加切换动画
                $('.show1').addClass('disappear');
                //动画结束事件效果
                $('.disappear').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    $('.show1').removeClass('disappear');
                    var prev_no = parseInt($('.show1').attr('class').substr(3, 1));
                    for (var i = 0; i < 5; i++) {
                        var temp = (prev_no + i) % 10;
                        $(".pic" + temp).removeClass('show' + (i + 1));
                        $(".pic" + ((no + i) % 10)).addClass('show' + (i + 1));
                    }
                });

            });
        })
    </script>
</head>
<body>
<div class="nav">
    <!-- top start -->
    <header class="am-topbar admin-header">
        <include file="./twt/Home/View/Public/header.html"/>
    </header>
    <!-- top end -->
</div>


<div class="content">
    <div class="side">
        <ul>
            <volist name='data' id='vo'>
                <li><a class="left_nav" id="nav{$vo.project_show_id}" href="#">{$vo.project_title}</a></li>
            </volist>
        </ul>
    </div>

    <div class="picture">
        <ul>
            <volist name='data1' id='vo'>
                <li class="pic{$vo.project_show_id} show{$vo.project_show_id}">
                    <a href="{$vo.project_pic_link}" target="_blank"><img src="/coder/Public{$vo.project_pic_loc}"></a>
                </li>
            </volist>
            <volist name='data2' id='vo'>
                <li class="pic{$vo.project_show_id} ">
                    <a href="{$vo.project_pic_link}" target="_blank"><img src="/coder/Public{$vo.project_pic_loc}"></a>
                </li>
            </volist>
        </ul>
    </div>
</div>


<!-- footer start -->
<include file="./twt/Home/View/Public/footer.html"/>
<!-- footer end -->

</body>
</html>