<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天外天Coder后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/Public/amaze_assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/amaze_assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!-- top start -->
<header class="am-topbar admin-header">
    <include file="./admin/Home/View/Public/top.html"/>
</header>
<!-- top end -->

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <include file="./admin/Home/View/Public/left.html"/>
</div>
<!-- sidebar end -->


<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">关于我们</strong></div>
    </div>
    {$state}
    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">


            <li><a href="#tab3">设置</a></li>
        </ul>

        <div class="am-tabs-bd">

            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

            </div>


            <div class="am-tab-panel am-fade" id="tab3">
                <form class="am-form" action="http://coder.twtstudio.com/admin.php/Home/About/about_save" method="post">
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                           第一列
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <textarea name="first"   style="width: 450px; height: 200px;" >
                                {$first_col}
                            </textarea>
                        </div>
                    </div>

                     <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                           第二列
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <textarea name="sec"   style="width: 450px; height: 200px;"  >
                                {$sec_col}
                            </textarea>
                        </div>
                    </div>
                     <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                           第三列
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <textarea name="third"   style="width: 450px; height: 200px;"  >
                                {$third_col}
                            </textarea>
                        </div>
                    </div>
                    <div class="am-margin">
                        <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="修改">

                    </div>

                </form>
            </div>

        </div>
    </div>


</div>
</div>
<!-- content end -->


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/Public/amaze_assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/Public/amaze_assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/Public/amaze_assets/js/amazeui.min.js"></script>
<script src="/Public/amaze_assets/js/app.js"></script>
</body>
</html>
