<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天外天Coder后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/Public/amaze_assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/amaze_assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!-- top start -->
<header class="am-topbar admin-header">
    <include file="./admin/Home/View/Public/top.html"/>
</header>
<!-- top end -->

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <include file="./admin/Home/View/Public/left.html"/>
</div>
<!-- sidebar end -->


<!-- content start -->
<div class="admin-content">
    <form class="am-form am-form-horizontal" action="{:U('Project/update')}" method='post'
          enctype="multipart/form-data">
        <legend>添加项目成果</legend>
        <input type='hidden' name='id' value="{$data.id}"/>

        <div class="am-form-group">
            <label for="doc-ipt-3" name="pic_name" class="am-u-sm-2 am-form-label">成果名称</label>

            <div class="am-u-sm-10">
                <input type="text" name="project_title" id="doc-ipt-3" value="{$data.project_title}">
            </div>
        </div>

        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">成果链接</label>

            <div class="am-u-sm-10">
                <input type="text" name="project_pic_link" id="doc-ipt-pwd-2" value="{$data.project_pic_link}">
            </div>
        </div>
        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label"></label>

            <div class="am-u-sm-10">
                <label>*格式：http://www.baidu.com</label>
            </div>
        </div>

        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">上传图片</label>

            <div class="am-u-sm-10">
                <input type='file' name='project_pic_loc'/>
            </div>
        </div>

        <div class="am-form-group">
            <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label"></label>

            <div class="am-u-sm-10">
                <label>*图片尺寸：780*510px</label>
            </div>
        </div>

        <div class="am-form-group">
            <div class="am-u-sm-10 am-u-sm-offset-2">
                <input type="submit" class="am-btn am-btn-primary am-btn-xs" value='确定'/>
            </div>
        </div>
    </form>
</div>
<!-- content end -->


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/Public/amaze_assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/Public/amaze_assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/Public/amaze_assets/js/amazeui.min.js"></script>
<script src="/Public/amaze_assets/js/app.js"></script>
</body>
</html>



