<!DOCTYPE html>
<html>
<head>
	<title>天外天工作室-首页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="/Public/mobile/assets/i/favicon.png">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/Public/mobile/assets/i/app-icon72x72@2x.png">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="/Public/mobile/assets/i/app-icon72x72@2x.png">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/Public/mobile/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="/Public/mobile/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/Public/mobile/assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="/Public/mobile/public.css">
  <link rel="stylesheet" type="text/css" href="/Public/mobile/home-page.css">

  <script src="http://coder.twtstudio.com/Public/mobile/jquery.min.js"></script>
  
</head>
<body>
	<header>
		<img src="/Public/mobile/images/logo.png">
	</header>
    
  <div class="slider-div-home">
  <div class="am-slider am-slider-default am-slider-carousel am-slider-padding" data-am-flexslider="{itemWidth: 280, itemMargin: 5, slideshow: false}">
    <ul class="am-slides" style="margin-bottom:20px;">
      <li>
        <img src="/Public/mobile/images2/puke1-fuben.png" class="puke">
        <img src="/Public/mobile/images2/puke1-text.png" class="puke1-text">
      </li>
      <li>
        <img src="/Public/mobile/images2/puke2.png" class="puke">
        <img src="/Public/mobile/images2/puke2-content.png" class="puke2-content">
      </li>
      <li>
        <img src="/Public/mobile/images2/puke3.png" class="puke">
        <img src="/Public/mobile/images2/puke3-content.png" class="puke3-content">
        <img src="/Public/mobile/images2/puke3-dong.png" class="puke3-dong">
      </li>
      <a href="http://coder.twtstudio.com/hr/">
      <li>
        <img src="/Public/mobile/images2/puke4.png" class="puke">
        <img src="/Public/mobile/images2/star1.png" class="star1">
        <img src="/Public/mobile/images2/star2.png" class="star2">
        <img src="/Public/mobile/images2/star3.png" class="star3">
        <a href="http://coder.twtstudio.com/hr/" class="join-link">加入我们</a>
      </li>
      </a>
    </ul>
  </div>
  </div>

  <div class="hand">
    <img src="/Public/mobile/images2/hand.png">
  </div>

  <include file="./mobile/Home/View/Public/footer.html"/>


<script src="/Public/mobile/assets/js/jquery.min.js"></script>
<script src="/Public/mobile/assets/js/amazeui.min.js"></script>
</body>
</html>