<!DOCTYPE html>
<html>
<head>
	<title>天外天工作室-关于我们</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" />
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/Public/mobile/public.css">

    <script src="http://coder.twtstudio.com/Public/mobile/jquery.min.js"></script>
    
</head>
<body>
	<header>
		<img src="/Public/mobile/images/logo.png">
	</header>
	<div>
		<div class="about-bg">
		    <img src="/Public/mobile/images/about1.png">
		    <div class="about1-text">
		    <br>
			<p>
			天津大学天外天工作室成立于2000年，以网络思想政治教育为主要建设方向，为天大师生提供涵盖教育、资讯、服务、生活、娱乐等领域的全方位网络服务。优秀毕业生就业于知名互联网公司。
			</p>
			</div>
		</div>
		<div class="about-bg">
		    <img src="/Public/mobile/images/about2.png">
		    <div class="about2-text">
		    	<p><strong>所获奖项</strong><br/>
                   “优秀示范网站”<br/>
                   “全国十佳高校新闻网”<br/>
                   全国高校百佳校园网站<br/>
                   “全国高校十佳服务网站”
                   首批“教育部大学生网络文化工作室”<br/>
                </p>
			</div>
		</div>
		<div class="about-bg" style="margin-bottom:100px;">
		    <img src="/Public/mobile/images/about3.png">
		    <div class="about3-text">
			<p> 
                开发网络产品200余个<br>
                注册用户80余万<br>
                天外天首页访问量超一亿次<br>
                线上服务器22台<br>
                在校网络开发人员90余人<br>
                学生记者团100余人<br>
                培养优秀毕业生近两万人
			</p>
			</div>
		</div>
	</div>
	<include file="./mobile/Home/View/Public/footer.html"/>
</body>
</html>