*{
	margin: 0px;
	padding: 0px;
	border:0px;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
body{
    font-family: "Microsoft Yahei",Tahoma,"\5b8b\4f53",Arial,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-color: #eeeeee;
    min-width: 700px;
}
.nav{
	width: 100%;
	height: 60px;
	background-color: #282828;
}
.nav img{
	height: 50px;
	margin: 5px 0px 0px 10%;
	float: left;
}
.navlist{
	margin-left: 0%;
	padding-top: 5px;
}
.navlist ul{
	height: 50px;
	overflow: hidden;
    font-size: 25px;
}
.navlist li{
	height: 100%;
    float: left;
	list-style-type: none;
	margin: 0px 20px 10px 20px;
	font-size: 8px;
}
.navlist a{
	display: block;
	text-decoration: none;
	width: 80%;
	text-align: center;
	background-color: #282828;
	color: #fff;
	font-size: 16px;
	padding: 14px;
	letter-spacing: 1px;
}
.navlist a:hover{
	background-color: #212121;
}
.pub_footer{
	margin-top: 100px;
	height: 70px;
	width: 100%;
	background-color: #282828;
	position: fixed;
	bottom: 0px;
	z-index: 100;
}
.pub_footer .http{
    width: 200px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #282828;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 10px 0px 10px #212121;
    margin: 18px;
    position: absolute;
    top: 0px;
    left: 13%;
}
.pub_footer .img{
	position: absolute;
	width: 13%;
	bottom: 0px;
	animation:join 1.3s;
    animation-iteration-count:infinite;
    -webkit-animation: join 1.3s;
    -moz-animation: join 1.3s;
    -ms-animation: join 1.3s;
    -o-animation:join 1.3s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
}
@keyframes join{
	0%{bottom:0px;left: 40%;width: 13%;opacity: 1}
	50%{bottom:0px;left: 40%;width: 13.2%;opacity: 0.9}
	100%{bottom:0%;left: 40%;width: 13.4%;opacity: 0.8}
}
@-moz-keyframes join{
	0%{bottom:0px;left: 40%;width: 13%;opacity: 1}
	50%{bottom:0px;left: 40%;width: 13.2%;opacity: 0.9}
	100%{bottom:0%;left: 40%;width: 13.4%;opacity: 0.8}
}
@-webkit-keyframes join{
	0%{bottom:0px;left: 40%;width: 13%;opacity: 1}
	50%{bottom:0px;left: 40%;width: 13.2%;opacity: 0.9}
	100%{bottom:0%;left: 40%;width: 13.4%;opacity: 0.8}
}
@-o-keyframes join{
	0%{bottom:0px;left: 40%;width: 13%;opacity: 1}
	50%{bottom:0px;left: 40%;width: 13.2%;opacity: 0.9}
	100%{bottom:0%;left: 40%;width: 13.4%;opacity: 0.8}
}

.pub_footer img{
	width: 100%;
}
.pub_footer p{
    color: #fff;
    font-size: 12px;
    padding-top: 22px;
    position: absolute;
    top: 0px;
    left: 60%;
    letter-spacing:1px;
}
