<a href="/index.php/home/index/index"><img src="/Public/Images/Frontend/logo.png"></a>
<div class="navlist">
    <ul>
        <li><a href="/index.php/home/index/index">首页</a></li>
        <li><a href="/index.php/home/about/index">关于我们</a></li>
        <li><a href="/index.php/home/project/index">项目成果</a></li>
        <li><a href="/index.php/Home/TeamIndex/showinfo1">成员介绍</a></li>
        <li><a href="/index.php/home/member/index">团队分工</a></li>
        <li><a href="http://coder.twtstudio.com/hr" target="_blank">加入我们</a></li>
    </ul>
</div>