.body{
	background-color: #eeeeee;
}
.pub_footer{
	margin-top: 3%;
}

.content{
    margin-top: 30px;
	width: 100%;
	overflow: hidden;
    min-height: 700px;
}
.list{
	float: left;
    margin-top: 110px;
    margin-left: 15%;
    line-height: 90px;
}
.list ul{
	overflow: hidden;
}
.list li{
	list-style-type: none;
	color: #8b8b8b;
	font-size: 17px;
	text-align: right;
}
.list p{
    background-image: url(../Images/Frontend/arrow.png);
    width: 80px;
    background-repeat: no-repeat;
}
/*.triangle-right {
	width:0px;
    height:0px;
    border-bottom:10px solid transparent;  
    border-top:10px solid transparent; 
    border-left:10px solid #2f2f2f; 
    font-size:0px;
    line-height:0px;
    margin-right: 10px;
}*/
.select-year{
	font-size: 20px;
	color: #282828;
}
.member{
	float: left;
	position: absolute;
    right: 40%;
    width: 30%;
}
.member img{
	width: 55%;
}
.member td{
	text-align: center;
	position: relative;
}
.button img{
	width: 20%;
}
.info-left {
    color: #59bcda;
    font-size: 14px;
    background-color: #59bcda;
    border: 1px solid #59bcda;
    border-radius: 50px 0px 0px 50px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -100px;
    width: 160px;
    z-index: -1;
    padding: 10px;
}
.info-left-text {
    color: #ffffff;
    font-size: 14px;
    border-radius: 50px 0px 0px 50px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -100px;
    width: 160px;
    padding: 10px;
}
.info-right{
    color: #59bcda;
    font-size: 14px;
    background-color: #59bcda;
    border: 1px solid #59bcda;
    border-radius: 0px 50px 50px 0px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 120px;
    width: 160px;
    z-index: -1;
    padding: 10px;
}

.info-right-text{
    color: #ffffff;
    font-size: 14px;
    border-radius: 0px 50px 50px 0px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 120px;
    width: 160px;
    padding: 10px;
}

.hidden{
    display: none;
}
.info-left a,.info-right a{
	color: #59bcda;
}
.info-right-text a,.info-left-text a{
	color: #ffffff;
}

/*.wrapper{
    border-radius: 50px 0px 0px 50px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -100px;
    width: 160px;

}*/

.member-group {
    position: absolute;
    top: 280px;
    right: 20%;
}
.member-group table {
    border: none;
}
table {
    border-collapse: collapse;
}

.member-group td {
    width: 80px;
    height: 30px;
    text-align: center;
}


.member-group td a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #494949;
    width: 80px;
    height: 20px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 10px;
}

.member-group td a:hover {
    color: #494949;
    background-color: #e8e8e8;
}

.member-group td a.active {
    color: #494949;
    background-color: #e8e8e8;
}



@media screen and (min-width: 1400px){
.member{
    right: 35%;
    width: 30%;
}
}