.pub_footer {
    margin-top: -40px;
}
.side{
	width: 120px;
	margin-top: 3%;
	margin-left: 11%;
	float: left;
}
.side ul{
	width: 120px;
}
.side li{
	list-style-type: none;
}
.side a{
	display: block;
	text-decoration: none;
	width: 120px;
	text-align: center;
	background-color: #282828;
	color: #fff;
	font-size: 15px;
	padding: 10px;
}
.side a:hover{
	background-color: #5F5B5B;
}
.side a.link-active-img{
    background-color: #5F5B5B !important;
}
.content{
	overflow: hidden;
    height: 680px;
}
.picture{
	position: relative;
	float: left;
	margin-left: 10%;
	width: 50%;
    background-image: url(../Images/Frontend/border.png) ;
    background-repeat: no-repeat;
    padding: 30px;
    height: 400px;
}
.picture ul{
	overflow: hidden;
	width: 100%;
/*	perspective: 1400px;
	perspective-origin: 0% -100%;*/
}
.picture li{
	float: left;
	list-style-type: none;
	position: absolute;
	width: 100%;
	/*perspective: 500;
   -webkit-perspective: 500;
   align-self:stretch;*/
}
.picture img{
	width: 100%;
}

.show1{
    opacity: 1 !important; 
    pointer-events: auto;
    z-index: 5;
    transform: translate(0px, 0px); 
}
.show2{
    opacity: 0.9 !important; 
    pointer-events: auto;
    z-index: 4;
    transform: translate(3%, 3%);
}
.show3{
    opacity: 0.8 !important; 
    pointer-events: auto;
    z-index: 3;
    transform: translate(6%, 6%);
}

.show4{
    opacity: 0.7 !important; 
    pointer-events: auto;
    z-index: 2;
    transform: translate(9%, 9%);
}

.show5{
    opacity: 0.6 !important; 
    pointer-events: auto;
    z-index: 1;
    transform: translate(12%, 12%);
}
.picture .pic0{
      opacity: 0;
    
}
.picture .pic1{
    opacity: 0;
    
}
.picture .pic2{
    opacity: 0;
  
}
.picture .pic3{
    opacity: 0;

}
.picture .pic4{
    opacity: 0;
  
}
.picture .pic5{
    opacity: 0;
  
}
.picture .pic6{
    opacity: 0;
}
.picture .pic7{
    opacity: 0;
}
.picture .pic8{
    opacity: 0;
}
.picture .pic9{
    opacity: 0;
   
}



@keyframes myfirst
{
     from{
        opacity: 1.0; 
        transform:translate(0, 0)
    }
    to{
        opacity: 0.0;  
        transform:translate(-15%, 0px )
    }
}

@-moz-keyframes myfirst /* Firefox */
{
     from{
        opacity: 1.0; 
        transform:translate(0, 0)
    }
    to{
        opacity: 0.0;  
        transform:translate(-15%, 0px )
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
     from{
        opacity: 1.0; 
        transform:translate(0, 0)
    }
    to{
        opacity: 0.0;  
        transform:translate(-15%, 0px )
    }
}

@-o-keyframes myfirst /* Opera */
{
     from{
        opacity: 1.0; 
        transform:translate(0, 0)
    }
    to{
        opacity: 0.0;  
        transform:translate(-15%, 0px )
    }
}

.disappear{
     animation: myfirst 0.5s linear ;
    -webkit-animation: myfirst 0.5s linear;
    -moz-animation: myfirst 0.5s linear;
    -ms-animation: myfirst 0.5s linear ;
    -o-animation: myfirst 0.5s linear ;
}