.pub_footer {
    margin-top: 76px;
}

.content{
	width: 75%;
	position: relative;
    margin-left: 15%;
}
.zhuan{
	width: 36%;
}

.point{
	width: 36%;
	position: absolute;
	top:0px;
}
.change{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 80%;
    background-image: url(../Images/Frontend/gra1-1.png);
    background-repeat: no-repeat;
    height: 130px;
    z-index: -1;
}
.change p{
    margin-left: 20%;
    font-size: 1vw;
    line-height: 20px;
    padding: 14px;
}


/*
旋转跳跃我不停歇
 */

.zhuan{
    animation: jukebox 10s linear infinite;
    -webkit-animation: jukebox 10s linear infinite;
    -moz-animation: jukebox 10s linear infinite;
    -ms-animation: jukebox 10s linear infinite;
    -o-animation: jukebox 10s linear infinite;
}



.monitor{
	animation: font 10s linear infinite;
	-webkit-animation: font 10s linear infinite;
    -moz-animation: font 10s linear infinite;
    -ms-animation: font 10s linear infinite;
    -o-animation: font 10s linear infinite;
}

.paused{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
}
@keyframes jukebox{
    from{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

@-webkit-keyframes jukebox{
    from{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
@-moz-keyframes jukebox{
    from{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
@-ms-keyframes jukebox{
    from{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
@-o-keyframes jukebox{
    from{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

@keyframes font{
     0%   { font-size: 20px; }
    100%  { font-size: 29px;  }
}
@-webkit-keyframes font{
    0%   { font-size: 20px; /* from: blue */ }
    100%  { font-size: 29px; /* green      */ }
}
@-moz-keyframes font{
    0%   { font-size: 20px; /* from: blue */ }
    100%  { font-size: 29px; /* green      */ }
}
@-ms-keyframes font{
    0%   { font-size: 20px; /* from: blue */ }
    100%  { font-size: 29px; /* green      */ }
}
@-o-keyframes font{
    0%   { font-size: 20px; /* from: blue */ }
    100%  { font-size: 29px; /* green      */ }
}
