<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天外天Coder后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/Public/amaze_assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/amaze_assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!-- top start -->
<header class="am-topbar admin-header">
    <include file="./admin/Home/View/Public/top.html"/>
</header>
<!-- top end -->

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <include file="./admin/Home/View/Public/left.html"/>
</div>
<!-- sidebar end -->


<!-- content start -->
<div class="admin-content">
    <legend>编辑轮播</legend>
    <table class="am-table am-table-bordered" border='1' width="800" align='center'>
        <thead>
        <tr>
            <th>轮播名称</th>
            <th>轮播链接</th>
            <th>轮播图片</th>
            <th>是否展示</th>
            <th>展示顺序</th>
            <th>操作</th>
        </tr>
        </thead>
        <volist name='data' id='vo'>
            <tr>
                <td>{$vo.pic_name}</td>
                <td><a href="{$vo.pic_link}">{$vo.pic_link}</a></td>
                <td><a href="http://coder.twtstudio.com/Public{$vo.pic_loc}">查看图片</a></td>
                <td>
                <if condition="$vo.pic_isshow eq 1"> 是
                    <else /> 否
                </if>
                </td>
                <td>{$vo.pic_showid}</td>
                <td><a href="/admin.php/Home/Index/del/id/{$vo.id}">删除</a> | <a
                        href="/admin.php/Home/Index/modifypic/id/{$vo.id}">修改</a>|
                    <if condition="$vo.pic_isshow eq 1">  <a href="/admin.php/Home/Index/hide/id/{$vo.id}">隐藏</a>
                    <else />  <a href="/admin.php/Home/Index/show/id/{$vo.id}">显示</a>
                </if>|
                    </td>
            </tr>
        </volist>
    </table>
</div>
<!-- content end -->


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/Public/amaze_assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/Public/amaze_assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/Public/amaze_assets/js/amazeui.min.js"></script>
<script src="/Public/amaze_assets/js/app.js"></script>
</body>
</html>

