<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/coder/Public/Css/public.css">
    <link rel="stylesheet" type="text/css" href="/coder/Public/Css/about.css">
    <title>天外天工作室-关于我们</title>
</head>
<body>

<div class="nav">
    <!-- top start -->
    <header class="am-topbar admin-header">
        <include file="./twt/Home/View/Public/header.html"/>
    </header>
    <!-- top end -->
</div>

<div class="content">
    <img src="/coder/Public/Images/Frontend/about.png" class="about">
    <img src="/coder/Public/Images/Frontend/about1.png" class="about1">
    <img src="/coder/Public/Images/Frontend/about2.png" class="about2">
    <img src="/coder/Public/Images/Frontend/about3.png" class="about3">

    <div class="text1">
        <p> 2000年6月8日，天外天网站正式上线，天外天工作室也随即成立，15年来，天外天工作室以网络思想政治教育为主要建设方向，开发了党建、形势与政策答题、新闻、社区、问卷、投票、微北洋APP、问津APP等众多网络产品，涵盖教育、资讯、服务、生活、娱乐等领域，为天大师生提供全方位的网络服务，培养优秀毕业生近2万名，毕业生多就职于阿里巴巴、百度、腾讯、小米等知名互联网公司。目前，天外天工作室包括网络产品开发、宣传报道、新媒体建设等学生团队共计200余人，每天有超过2万人访问天外天网站，天外天工作室于2015年1月获批首批教育部大学生网络文化工作室。</p>
    </div>
    <div class="text2">
        <p>开发网络产品200余个<br>
            注册用户80余万<br>
            天外天首页访问量超过一亿次<br>
            线上服务器22台<br>
            在校网络开发人员90余人<br>
            学生记者团100余人<br>
            新媒体团队20余人<br>
            培养优秀毕业生近两万人</p>
    </div>
    <div class="text3">
        <p>
            2004年：天津市高校思想政治教育网站建设工程“优秀示范网站”<br>
            2006-2007年：连续两年获评“全国十佳高校新闻网”<br>
            2007-2014年：连续7年获评全国高校百佳校园网站荣誉称号<br>
            2008年：“全国高校十佳服务网站”第一名<br>
            2010年：第四届全国高校百佳网站“最佳新闻宣传奖”<br>
            2012年：第五届全国高校百佳网站“最佳就业服务奖”、“最佳学生创意奖”<br>
            2013年：第六届全国高校百佳网站“最佳学生创意奖”、“最佳技术应用奖”<br>
            2014年：第七届全国高校百佳网站“群众路线实践教育专题”特别奖<br>
            2015年1月：首批“教育部大学生网络文化工作室”
        </p>
    </div>
</div>

<!-- footer start -->
    <include file="./twt/Home/View/Public/footer.html"/>
<!-- footer end -->

</body>
</html>