<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天外天Coder后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/Public/amaze_assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/amaze_assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/Public/amaze_assets/css/admin.css">
    <script type="text/javascript" src="/Public/Js/my.js"></script>
    <script type="text/javascript" src="/Public/Js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Public/Js/jquery-ui.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!-- top start -->
<header class="am-topbar admin-header">
    <include file="./admin/Home/View/Public/top.html"/>
</header>
<!-- top end -->

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <include file="./admin/Home/View/Public/left.html"/>
</div>
<!-- sidebar end -->
<link rel="stylesheet" type="text/css" href="/Public/Css/main.css">
<style type="text/css">
    #module_list {
        margin-left: 4px

    }

    .modules {
        float: left;
        width: 50%;
        height: 24px;
        margin: 10px;
        overflow: hidden;
        border: 1px solid #acc6e9;
        background: #e8f5fe
    }

    .m_title {
        height: 24px;
        line-height: 24px;
        background: #afc6e9
    }

    #loader {
        height: 40px;
        text-align: left font-size : 40 px;

    }

    .clear {
        clear: both
    }
</style>
<script type="text/javascript">// JavaScript Document
$(function () {
    var $show = $("#loader");
    var $list = $("#module_list");

    $list.sortable({
        opacity: 0.6,//拖动透明
        revert: true,//缓冲效果
        cursor: 'move',//拖动时鼠标的样式
        update: function () {
            var new_order = [];
            $list.children(".modules").each(function () {
                new_order.push(this.title);
            });
            var newid = new_order.join(',');
            $.ajax(
                    {
                        type: "post",
                        url: "{:U('Project/sort')}",//服务器端处理程序
                        data: {order: newid},   //id:新的排列对应的ID,order：原排列顺序
                        beforeSend: function () {
                            $show.html("正在更新");
                        },
                        success: function (msg) {
                            $show.html("更新成功");
                        }
                    });
        }
    });
});
</script>
</head>
<style type="text/css" id="__theworld_success_css"></style>

<body>
<div id="admin-content">
    <h2 class="top_title">上下拖动即可调整顺序</h2>

    <div id="loader"></div>
    <form action="{:U('Project/sort')}" method='post' enctype="multipart/form-data">
        <input type="hidden" id="orderlist" value="" style="">

        <div id="module_list">
            <volist name='data' id='data'>
                <div class="modules" title="{$data.id}">
                    <h3 class="m_title" style="cursor: move;">{$data.project_title}</h3>
                </div>
            </volist>
        </div>

    </form>
</div>
</body>
</html>