*{
	font-family: "思源黑体 CN Regular",
				"Noto Sans S Chinese DemiLight",
				"Hiragino Sans GB", 
				"Microsoft YaHei", 
				"文泉驿微米黑",
				sans-serif; 
}


body{
	height: 100%;
	width: 100%;
	background-color: #6699cc;
	background: url('../images/bg.jpg');
}
label{
	color: white;
	text-align: left;
}
.container{
	text-align: center;
	height: 100%;
	width: 100%;
}

.twt-btnwrap{
	/*width: 100%;*/
	height: 100%;
}

.twt-joinBtn{
	/*margin-top: 80%;*/
	display: block;
	top: 50%;
	padding: 15px 36px;
	font-size: 24px;
}

.btn-plat{
	color: white !important;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
}

.btn-plat:hover{
	color: white;
	animation-name: lightPulse;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-name: lightPulse;
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

@keyframes lightPulse {
	100% {box-shadow: 0 0 40px rgba(255,255,255,0.9); }
}
@-moz-keyframes lightPulse {
	100% {box-shadow: 0 0 40px rgba(255,255,255,0.9); }
}
@-webkit-keyframes lightPulse {
	100% {box-shadow: 0 0 40px rgba(255,255,255,0.9); }
}


#twtJoinFormWrap{
	position: relative;
	display: block;
	max-width: 480px;
	margin: auto;
	top: 20%;
	opacity: 0.7;
	padding-bottom: 50px;
}
#twtJoinResult{
	position: relative;
	display: block;
	max-width: 480px;
	margin: auto;
	display: none;
	top: 20%;
	opacity: 0.8;
}
h2{
	color: white;
}
#twtJoinSlogan{
	position: relative;
	top: 13%;
	color: white;
}
#twtJoinLogin{
	position: relative;
	display: block;
	max-width: 480px;
	margin: auto;
	display: none;
	top: 20%;
	opacity: 0.7;
	padding-bottom: 50px;
}
#inputGroup{
	background-color: #fff;
	width: 100%;
	color: #000;
}
.btn-register{
	margin-top: 10px;
}
