<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin.php/Home/Index/home"><span class="am-icon-home"></span> 后台首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>
                    编辑首页</a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                    <li><a href="/admin.php/Home/Index/add" class="am-cf"><span class="am-icon-check"></span> 添加轮播</a>
                    </li>
                    <li><a href="/admin.php/Home/Index/index"><span class="am-icon-puzzle-piece"></span> 编辑轮播</a>
                    </li>
                    <li><a href="/admin.php/Home/Index/sort"><span class="am-icon-puzzle-piece"></span> 轮播排序</a>
                    </li>
                    <li><a href="/admin.php/Home/Index/modifyword"><span class="am-icon-th"></span> 编辑文字</a></li>
                </ul>
            </li>

            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span>
                    编辑项目成果页</a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
                    <li><a href="/admin.php/Home/Project/add" class="am-cf"><span class="am-icon-check"></span>
                        添加成果</a></li>
                    <li><a href="/admin.php/Home/Project/index"><span class="am-icon-puzzle-piece"></span>
                        编辑成果</a></li>
                    <li><a href="/admin.php/Home/Project/sort"><span class="am-icon-th"></span> 成果排序</a></li>
                </ul>
            </li>


            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span>
                    编辑团队分工页</a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
                    <li><a href="http://coder.twtstudio.com/admin.php/Home/Team/index" class="am-cf"><span
                            class="am-icon-check"></span> 添加成员</a></li>
                    <li><a href="http://coder.twtstudio.com/admin.php/Home/Team/member_table"><span
                            class="am-icon-puzzle-piece"></span> 编辑成员</a></li>
                    <li><a href="http://coder.twtstudio.com/admin.php/Home/Team/show_update"><span
                            class="am-icon-puzzle-piece"></span> 页面设置</a></li>
                </ul>
            </li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span>
                    编辑关于我们页</a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav3">
                    <li><a href="http://coder.twtstudio.com/admin.php/Home/About/index" class="am-cf"><span
                            class="am-icon-check"></span>编辑</a></li>
                  
                </ul>
            </li>
            <li><a href="/admin.php/Home/Change/change"><span class="am-icon-sign-out"></span> 修改密码</a></li>
            <li><a href="/admin.php/Home/logout/index"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>


        <div class="am-panel am-panel-default admin-sidebar-panel">

        </div>
    </div>