.grid {
  padding: 0 6.5vw;
  font-size: 0;

  &-item {
    display: inline-block;
    margin: 0 1.5vw;
    width: 26vw;

    img {
      width: 100%;
    }
  }

  &-border {
    position: relative;
    .lt, .lb, .ll, .lr {
      position: absolute;
      transition: transform 1s ease-in-out;
    }

    .ll, .lr {
      top: 0;
      bottom: 0;
      width: 5px;
      transform: scaleY(0);
    }
    .lt, .lb {
      left: 0;
      right: 0;
      height: 5px;
      transform: scaleX(0);
    }

    &:hover {
      .ll, .lr {
        transform: scaleY(1);
      }
      .lt, .lb {
        transform: scaleX(1);
      }
    }
    .lt {
      top: 0;
      transform-origin: left center;
      background: linear-gradient(to right, rgba(255, 255, 255, .4), #fff);
    }
    .lr {
      right: 0;
      transform-origin: center top;
      background: linear-gradient(to bottom, rgba(255, 255, 255, .4), #fff);
    }
    .lb {
      bottom: 0;
      transform-origin: right center;
      background: linear-gradient(to left, rgba(255, 255, 255, .4), #fff);
    }
    .ll {
      left: 0;
      transform-origin: center bottom;
      background: linear-gradient(to top, rgba(255, 255, 255, .4), #fff);
    }
  }

  &-card {
    transition: width .4s ease-in-out;
    .wrap {
      padding: 20px;
      width: 300px;

      margin: 0 auto;
      border-radius: 20px;

      transform: translateY(90px);
      background: rgba(255, 255, 255, 0);
    }

    .detail {
      margin-top: 10px;
      transition: opacity .4s ease-in-out;
      opacity: 0;
      font-size: 28px;
    }

    &.in {
      // width: 42vw;
      .wrap {
        transition: transform .4s ease-in-out, background .4s ease-in-out .2s, opacity .4s ease-in-out;
        background: #fff;
        transform: translateY(30px);
      }

      .detail {
        transition-delay: .4s;
        opacity: 1;
      }
    }

    &.out {
      // width: 18vw;
      .wrap {
        transition: transform .4s ease-in-out .2s, background .4s ease-in-out, opacity .4s ease-in-out .2s;
        opacity: .5s;
      }
    }

  }
}
