.header {
  &-fan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    $size: 60vh;
    &-wrap {
      position: absolute;
      top: - $size / 4;
      left: - $size / 4;
      height: $size;
      width: $size;

      opacity: 0;
      z-index: 200;
    }

    img {
      height: 100%;
    }

    .load-1 &-wrap {
      animation: header-fan-1 2s ease-in-out 2s;
      animation-fill-mode: backwards;
      opacity: 1;
    }

    .load-2 & {
      &-wrap {
        transition: transform 1s ease-in-out;
        transform: translateX(185vh - $size / 2) scale(360vh / $size);
      }

      img {
        transition: all 1s ease-in-out;
        transform: rotate(-180deg);
      }
    }
    .load-3 & {
      img {
        transition-delay: .2s;
      }
    }
  }

  &-logo {
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    height: 10vh;
    svg {
      height: 100%;
    }
    path {
      fill: transparent;
    }
    .load-2 & {
      path {
        transition: fill .4s ease-in-out .4s;
      }
    }
    .load-3 & {
      path {
        transition-delay: .8s;
      }
    }
    &.c-1 {
      path {
        fill: darken($fan-red, 0%);
      }
    }
    &.c-2 {
      path {
        fill: darken($fan-yellow, 20%);
      }
    }
    &.c-3 {
      path {
        fill: darken($fan-green, 10%);
      }
    }
    &.c-4 {
      path {
        fill: darken($fan-blue, 0%);
      }
    }
    &.c-5 {
      path {
        fill: darken($fan-red, 0%);
      }
    }
  }
}
