.nav {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-105px);
  z-index: 1201;

  $color: rgb(0, 0, 0);
  font-size: 0;
  text-align: center;
  span {
    display: inline-block;
    padding: 0 40px;
    line-height: 40px;
    font-size: 22px;

    color: $color;
    background: transparent;
    transition: background .4s ease-in-out, color .4s ease-in-out;
    border: 1px solid $color;

    cursor: pointer;

    &:not(:last-child) {
      border-right: 0;
    }

    $br: 5px;
    &:first-child {
      border-radius: $br 0 0 $br;
    }

    &:last-child {
      border-radius: 0 $br $br 0;
    }

    &.active {
      background: $color;
      color: #fff;
    }
  }

  &.load-1 {
    transition: all .8s ease-in-out 1.6s;
    opacity: 1;
    transform: translateY(-125px);
  }

  &.load-2 {
    transition-delay: 0s;
    opacity: .6;
    transform: none;
  }
}
