.page {
  transition: visibility 0s .4s, opacity .4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  &.in {
    opacity: 1;
    visibility: visible;
    transition-delay:0s;
  }

  &-size {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 127px;

    padding: 30px 0 75px;
  }
}
