body{
	min-width: 850px;
}
.content{
	position: relative;
}
.content{
	min-height: 700px;
}
.about{
	width: 100%;

}
.about1,.about2,.about3 {
	position: absolute;
	top: 0px;
	width: 100%;
}
.pub_footer{
	margin-top: 50px;
}
.content .text1,.text2,.text3{
    width: 14%;
    top: 4%;
    position: absolute;
    float: left;
    color: #282828;	
    line-height: 15px;
}

.text1{
    left: 23%;
    text-indent: 2em;
}
.text2{
	left: 42%;
	text-align: center;
}
.text3{
	left: 61%;
	text-align: center;
}
/*@media screen and (max-width: 1000px){
.content .text1,.text2,.text3{
	top:10%;
}
}*/